/*
ALERT
*/
/* The alert message box */
.alert {
    position     : absolute;
    border       : 1px solid transparent;
    border-radius: 0.25rem;
    width        : auto;
    min-width    : 320px;
    padding      : 0;
    top          : 50%;
    left         : 43%;
    margin-top   : -50px;
    margin-left  : -50px;
    min-height   : 60px;
    padding      : 6px 20px;
}

.error {
    color           : #842029;
    background-color: #f8d7da;
    border-color    : #f5c2c7;
}

.success {
    color           : #0f5132;
    background-color: #d1e7dd;
    border-color    : #badbcc;
}

.warning {
    color           : #664d03;
    background-color: #fff3cd;
    border-color    : #ffecb5;
}

.primary {
    color           : #084298;
    background-color: #cfe2ff;
    border-color    : #b6d4fe;
}

.secondary {
    color           : #41464b;
    background-color: #e2e3e5;
    border-color    : #d3d6d8;
}

.info {
    color           : #055160;
    background-color: #cff4fc;
    border-color    : #b6effb;
}

/* The close button */
.alert .closebtn {
    margin     : 2px 4px 0 15px;
    font-weight: bold;
    float      : right;
    font-size  : 22px;
    line-height: 20px;
    cursor     : pointer;
    transition : 0.3s;
    color      : #999;
    font-size  : 1.5rem;
    margin     : -5px -15px 0 15px;
}

/* When moving the mouse over the close button */
.alert .closebtn:hover {
    color: black;
}

.hide {
    display: none;
}