.w3 {
    @apply h-full md:h-[36rem] w-full md:w-1/2;
    border: 2px solid #1a51a0;
}
.personal-info {
 @apply grid place-items-center;
}
.w3 .input-label {
    background-color: #1a51a0;
    color: #fff;
    padding: 4px 20px 9px 14px;
    font-size: 1rem;
}
.w3 .input-label-grey {
    padding: 4px;
    background: #efefef;
    color: #888;
    font-weight: 700;
    border: 1px solid #ccc;
    border-right: none;
}
.w3 input.phone-input {
    border-radius: 0 6px 6px 0 !important;
}

.w3 .leftcontact p,
.w3 .rightcontact p {
    padding   : 0 !important;
    background: none !important;
    width     : auto !important;
    float     : none !important;
    font-size : 0.7rem;
    text-align: left;
    color     : #888;
    margin    : 0;
}

.w3 .actions {
    border : 1px solid #1a51a0;
    display: flex;
}

.w3 .actions p:first-child {
    width : 29.5% !important;
    float : left !important;
    margin: 0;
    line-height: 15px;
    padding-top: 2px;
}

div.buttons {
    text-align     : right;
    width          : 50%;
    display        : block;
    align-items    : center;
    justify-content: flex-end;
    padding: 8px;
}

.w3 .actions div:first-child:not(.badge) {
    background-color: #1a51a0;
    color           : white;
    width           : 50%;
    text-align      : left;
    padding-left    : 6px;
    line-height     : 35px;
}

.w3 input:not([type='button']),
.w3 input:not([type='submit']) {
    border        : 1px solid #1a51a0;
    height        : 34px;
    margin-right  : 8px;
    vertical-align: middle;
}

.w3 div.container label {
    background-color: #1a51a0;
    color           : white;
    padding         : 9.5px 10px;
    font-size       : 0.7rem;
}

.w3 footer .actions div .tags {
    width    : 70%;
    padding  : 0 !important;
    float    : left !important;
    /* height: auto; */
}

.w3 .personal-info input.search {
    float : none !important;
    margin: 0 !important;
}

.w3 .actions input[type='button']:first-child {
    background-color: #1a51a0;
}

.w3 form {
    border-radius   : 5px;
    width           : 95%;
    margin          : 3%;
    background-color: #ffffff;
    overflow        : hidden;
}

.w3 form p span {
    color: #f00;
}


.w3 form input {
    border-radius: 6px;
    border       : 1px solid #eee;
    float        : left;
    padding      : 0px 6px;
}

textarea {
    border-radius: 6px;
    border       : 1px solid #eee;
    margin       : 0;
    width        : 75%;
    height       : 130px;
    float        : left;
    padding      : 4px 6px;
}

.w3 span {
    color        : #999;
    font-size    : 0.7rem;
    margin-bottom: 10px;
}

.w3 .actions div .tags span {
    color      : white;
    font-weight: normal;
}

input[type=submit] {
    background-color: #1ed760;
}

.w3 .container .personal-info form .phone label {
    float       : left;
    padding     : 5.6px 4px;
    background  : #efefef;
    color       : #888;
    font-weight : bold;
    border      : 1px solid #ccc;
    border-right: none;
    height      : 34px;
}

.w3 .email-row {
    height : 80px;
    display: inline-block;
    width  : 100%;
}

.w3 .email p:last-child {
    font-size: 0.5rem;
}

p.error {
    clear    : both;
    color    : red !important;
    font-size: 0.55rem !important;
    float    : left !important;
}