.w1 input:not([type='button']) {
    width         : 15rem;
    border        : 1px solid #1a51a0;
    height        : 34px;
    margin-right  : 8px;
    vertical-align: middle;
    text-align    : center;
    font-size     : 1rem;
    margin-top    : 1px;
}

.w1 .footer span {
    float        : left;
    padding      : 0;
    margin       : 0;
    display      : block;
    width        : 72%;
    text-align   : right;
    color        : #999;
    font-size    : 0.7rem;
    margin-bottom: 10px;
}